//#############################################################################
// Keyboard
//#############################################################################

Port(
    fullname: "Keyboard",

    product_id: 0x0001,
    version:    0x0001,

    keys: {
        "Escape":    "KEY_ESC",
        "Enter":     "KEY_ENTER",
        "Backspace": "KEY_BACKSPACE",
        "Tab":       "KEY_TAB",
        "Space":     "KEY_SPACE",
        "Caps-Lock": "KEY_CAPSLOCK",

        "Ctrl-Left":   "KEY_LEFTCTRL",
        "Ctrl-Right":  "KEY_RIGHTCTRL",
        "Shift-Left":  "KEY_LEFTSHIFT",
        "Shift-Right": "KEY_RIGHTSHIFT",
        "Alt-Left":    "KEY_LEFTALT",
        "Alt-Right":   "KEY_RIGHTALT",
        "Meta-Left":   "KEY_LEFTMETA",
        "Meta-Right":  "KEY_RIGHTMETA",
        "Compose":     "KEY_COMPOSE",

        "Q": "KEY_Q",
        "W": "KEY_W",
        "E": "KEY_E",
        "R": "KEY_R",
        "T": "KEY_T",
        "Y": "KEY_Y",
        "U": "KEY_U",
        "I": "KEY_I",
        "O": "KEY_O",
        "P": "KEY_P",
        "A": "KEY_A",
        "S": "KEY_S",
        "D": "KEY_D",
        "F": "KEY_F",
        "G": "KEY_G",
        "H": "KEY_H",
        "J": "KEY_J",
        "K": "KEY_K",
        "L": "KEY_L",
        "Z": "KEY_Z",
        "X": "KEY_X",
        "C": "KEY_C",
        "V": "KEY_V",
        "B": "KEY_B",
        "N": "KEY_N",
        "M": "KEY_M",

        "1": "KEY_1",
        "2": "KEY_2",
        "3": "KEY_3",
        "4": "KEY_4",
        "5": "KEY_5",
        "6": "KEY_6",
        "7": "KEY_7",
        "8": "KEY_8",
        "9": "KEY_9",
        "0": "KEY_0",

        "F1":  "KEY_F1",
        "F2":  "KEY_F2",
        "F3":  "KEY_F3",
        "F4":  "KEY_F4",
        "F5":  "KEY_F5",
        "F6":  "KEY_F6",
        "F7":  "KEY_F7",
        "F8":  "KEY_F8",
        "F9":  "KEY_F9",
        "F10": "KEY_F10",
        "F11": "KEY_F11",
        "F12": "KEY_F12",

        "-":  "KEY_MINUS",
        "=":  "KEY_EQUAL",
        "{":  "KEY_LEFTBRACE",
        "}":  "KEY_RIGHTBRACE",
        ";":  "KEY_SEMICOLON",
        "'":  "KEY_APOSTROPHE",
        "`":  "KEY_GRAVE",
        "\\": "KEY_BACKSLASH",
        ",":  "KEY_COMMA",
        ".":  "KEY_DOT",
        "/":  "KEY_SLASH",

        "Sysrq":       "KEY_SYSRQ",
        "Scroll-Lock": "KEY_SCROLLLOCK",
        "Pause":       "KEY_PAUSE",

        "Up":    "KEY_UP",
        "Left":  "KEY_LEFT",
        "Right": "KEY_RIGHT",
        "Down":  "KEY_DOWN",

        "Insert":    "KEY_INSERT",
        "Delete":    "KEY_DELETE",
        "Page-Up":   "KEY_PAGEUP",
        "Page-Down": "KEY_PAGEDOWN",
        "Home":      "KEY_HOME",
        "End":       "KEY_END",

        "NumPad-Lock":     "KEY_NUMLOCK",
        "NumPad-Enter":    "KEY_KPENTER",
        "NumPad-Dot":      "KEY_KPDOT",
        "NumPad-Minus":    "KEY_KPMINUS",
        "NumPad-Plus":     "KEY_KPPLUS",
        "NumPad-Slash":    "KEY_KPSLASH",
        "NumPad-Asterisk": "KEY_KPASTERISK",
        "NumPad-Equal":    "KEY_KPEQUAL",

        "NumPad-1": "KEY_KP1",
        "NumPad-2": "KEY_KP2",
        "NumPad-3": "KEY_KP3",
        "NumPad-4": "KEY_KP4",
        "NumPad-5": "KEY_KP5",
        "NumPad-6": "KEY_KP6",
        "NumPad-7": "KEY_KP7",
        "NumPad-8": "KEY_KP8",
        "NumPad-9": "KEY_KP9",
        "NumPad-0": "KEY_KP0",
    },
)
